:root {
    --button-font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    --bg-color: #063456ce;
    --bg-border: rgb(3, 13, 18);
    --text-shadow: rgb(23, 86, 120);
    --weather-param-fs: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(20px + (34 - 20) * ((100vw - 300px) / (1600 - 300)));
}

header, footer {   
    background-color: var(--bg-color);
}

header {
    padding: 1%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-bottom: solid 1px var(--bg-border);
    text-shadow: 0px 0px 2px black;
}

/* main starts here */

main {
    height: 100%;
    width: 100%;
    background-image: url('../img/los-angeles-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    overflow-y: scroll;
}

/* aside starts here */

aside {
    width: 25%;
    height: 90%;
    margin: 2% 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

label {
    color: white;
    font-weight: 700;
    text-shadow: 0 0 3px var(--text-shadow);
}

input {
    padding: 2% 2% 2% 7%;
    width: 90%;
    margin: 3%;
    border-radius: 10px;
    font-size: var(--button-font-size);
    border: solid 2px var(--bg-border);   
}

#history-btn-container {
    overflow-y: scroll;
}

#search-btn, .history-btn, #clear-btn {
    width: 100%;
    padding: 2% 2%;
    margin: 3% 0;
    border-radius: 10px;
    font-size: var(--button-font-size);
    background-color: var(--bg-color);
    border: solid 2px var(--bg-border);
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.history-btn {
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7));
    text-shadow: 0 0 4px black;
}

#clear-btn {
    text-shadow: 0 0 4px black;
}


/* aside ends here */


/* weather container starts here */

#weather-container {
    width: 75%;
    height: 85%;
    margin: auto 2%;
    padding: 2%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    border: solid 2px var(--bg-border);
    border-radius: 15px;
    color: white;
    font-size: var(--weather-param-fs);
}

#left-side {
    width: 50%;
}

#city-name {
    padding-top: 8%;
    font-size: calc(20px + (34 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: white;
}

#current-weather-container {
    display: flex;
    justify-content: space-between;
    height: 45%;
    line-height: 2rem;
}

#current-weather-icon {
    position: relative;
    top: -38px;
    height: 100%;
}

#weather-condition {
    font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1600 - 300)));
    color: white;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    height: 45%;
    line-height: 2rem;
    margin-top: 2%;
}

ul {
    list-style-type: none;
    color: rgb(255, 156, 51);
}

.weather-value {
    text-decoration: underline;
    color: white;
}

#date {
    color: white;
    line-height: 5rem;
}

.week-day {
    color: white;
}

.forecast-list {
    width: 20%;
}

.forecast-item {
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.forecast-icon-cont {
    height: 45%;
}

.forecast-weather-icon {
    position: relative;
    /* top: -30px;; */
    /* width: 90%; */
    height: 120%;
}

/* weather container ends here */

/* main ends here */


/* modal starts here */

#modal-box {
    display: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4%;
    border-radius: 10px;
    border: solid 4px rgb(247, 113, 29);
    z-index: 2;
    text-align: center;
}

#modal-emoji {
    width: 30%;
    margin: auto;
    margin-bottom: 5%;
}

#modal-box h3 {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); 
    line-height: 130%;
}

#modal-close-btn {
    padding: 2% 5%;
    border: solid 2px rgb(247, 160, 29);
    background-color: var(--bg-color);
    border-radius: 10px;
    margin-top: 5%;
    color: white;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); 
    margin-top: 5%;
}

#modal-close-btn:hover {
    background-color: #2a7daa;
}

/* end of modal-box styling */

/* footer styling starts here */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--bg-border);
    
}

footer a {
    width: 5%;
}

footer a img {
    display: block;
    width: 72%;
    margin: 3px;
}

#git-icon {
    transition: transform .5s ease-out; 
}

/* end of foorter styling */


.hide {
    display: none;
}


#git-icon:hover {
    transform: rotate(360deg);
}